.footer_strip {
    background: #ff887b;
    font-size: 15px;
    padding: 15px 0;
    text-align: center;
}

.footer_strip ul {
    display: inline-table;
    list-style-type: none !important;
    line-height: 27px;
}

.footer_strip li {
    color: #fff;
    float: left;
    margin: 0 13px;
}

.footer_strip li a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
} 

.static_send_inq {
    width: 157px;
    height: 40px;
    padding: 0;
    margin: 0;
    text-align: center;
    background-image: url("../../public/send-inquiry.png");
    background-position: top;
    background-repeat: no-repeat;
    position: fixed;
    right: 0;
    bottom: 65px;
    z-index: 9999;
    float: right;
}

.static_send_inq a {
    width: 157px;
    height: 40px;
    text-align: center!important;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: normal;
    color: #fff!important;
    font-size: 18px!important;
    line-height: 40px;
    display: block;
    text-decoration: none;
    text-shadow: 0.5px 1px 0.6px #000;
    filter: dropshadow(color=#000000,offx=1,offy=1);
    border: none;
}