header .navbar-white {
	background: #f8f8f8;
	border-top: 6px solid #ff887b;
    padding: 15px 15px 0;
	box-shadow:0px 3px 2px 0px rgba(50,50,50,0.1);
}
.item.header {
	background-image:url(../images/carousel_1.jpg);
	background-repeat:no-repeat;
	background-position:0% top;
	background-size:cover;
	background-attachment:scroll;
	background-color:rgba(0,0,0,0);
}