@media (min-width: 768px){
	.dropdown-menu .dropdown-toggle:after{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
	    border-left: .3em solid;
	}
	.dropdown-menu .dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.dropdown-menu li{
		position: relative;
	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1}
	.dropdown-menu > li:hover > a {  color: #000 }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}

 .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .navbar-toggler { 
	border-color: black;
  }


.main-nav, .dropdown-menu {
	background: #ff887b;
    border-radius: 7px;
    margin: 0px;
}

.med-menubar .nav-item a{
	color: #fff;
    font-size: 18px;
    font-weight: normal;
	font-weight: 600;
	font-family: Roboto;
}
.med-menubar {
	background: #f8f8f8;
	margin-top: 10px;
}

.navbar-brand {
	color: #fff;
	font-weight: 900;
	font-size: 1.5rem;
}