.med-productcard {
    box-shadow: 0 0 5px grey;
}

.ratings i {
    font-size: 16px;
    color: red
}

.strike-text {
    color: red;
    text-decoration: line-through
}

.med-productcard .price {
    color: #e62e04;
    font-weight: 700;
    font-size: 17px;
}
.med-productcard .custom-field-section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
    padding-left: 0px;
}

.med-productcard .submit-btn {
    height: 40px;
    background-color: #e62e04;
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bolder;
}

.med-productcard .submit-btn-container {
    height: 100%;
    justify-content: center;
}


.med-productcard .price-section {
    display: block;
    margin: 0 0 10px;
    width: 100%;
    font-size: 20px;
    border-bottom: 1px solid #cfcfcf;
    padding: 0 0 10px;
    text-align: left;
}

.product-image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}

.med-productcard .col-md-10 {
    max-width: 100% !important;
    flex: auto;
}

.med-productcard {
    margin-top: 20px;
}